DATABASE_URI="sqlite:///database.db"
SECRET_KEY="YouShouldChangeThisSecretKeyToSomethingLongAndRandom"
ENV="development"
GEMINI_API_KEY=""
GEMINI_MODEL_NAME="gemini-3-flash-preview"
GEMINI_TEMPERATURE="0.4"